*{
    margin: 0;
    padding: 0;
}
body{
    background-image:none;
}
.card{
    margin-top: 1em;
}
/*.card-text{
    white-space: pre;
}*/
.btns{
    font-size: 4ex;
}
/* Deixa todos os cards com mesmo tamanho independente do conteúdo*/
.row > div[class*='col-'] { /* Preciso entender melhor esse tipo de seleção como também a config FLEX*/
    display: flex;
    flex:1 0 auto; 
  }
  

#btnLoadMore{
    width: 190px;
    margin-top: 1em;
    margin-bottom: 1em;
}