*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(cidade.png)
}
.card{
    margin-top: 1em;
    border-radius: 15% 5% 5% 5%;   
}
/*.card-text{
    white-space: pre;
}*/
.card-img-top{
    border-radius: 50% 50%;
    width: 30%;
}
/* Deixa todos os cards com mesmo tamanho independente do conteúdo*/
.row > div[class*='col-'] { /* Preciso entender melhor esse tipo de seleção como também a config FLEX*/
    display: flex;
    flex:1 0 auto; 
  }
  

#btnLoadMore{
    width: 190px;
    margin-top: 1em;
    margin-bottom: 1em;
}